@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --dark-orange: 216, 101, 42;
  --light-orange: 232, 166, 116;
  --torquoise: 75, 145, 147;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--light-orange))
    )
    rgb(var(--dark-orange));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-scroll {
  @apply relative
    h-96
    w-5/6
    border-gray-950
    rounded-lg
    opacity-95
    /* bg-white */
    scroll-pl-6
    snap-x;
}
