@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.grit {
  mask-image: url("/grit.png");
}

body {
  @apply text-black bg-gradient-to-br from-dark-orange to-light-orange;
  font-family: "Courier New", sans-serif;
  /* other fonts: Courier New, Didot */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-scroll {
  @apply relative
    h-[25vh]
    md:h-[40vh]
    lg:h-[40vh]
    w-full
    border-gray-900
    rounded-lg
    opacity-95
    scroll-pl-6;
}

.hover-content {
  @apply w-full
  h-1/3
  lg:h-full
  z-10
  mb-8
  py-8
  px-4
  space-y-8
  rounded-xl
  text-balance
  sm:px-2 sm:py-2;
}

.page-container {
  @apply flex flex-row;
}

.org-container {
  @apply flex flex-col space-y-4
  rounded-md p-4;
}

.projects-scroll {
  @apply grid
  grid-cols-1
  gap-2
  md:grid-cols-2
  md:gap-2
  2xl:grid-cols-3
  2xl:gap-4;

  /* flex 
    flex-row
    snap-x
    overflow-x-scroll 
    w-full 
    space-x-4 
    p-4 
    scroll-smooth; */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.project-inner-scroll {
  @apply flex 
    flex-col
    relative 
    h-96 
    rounded-lg 
    shadow-lg 
    p-4 
    text-black;
}

.projects-image-overlay {
  @apply absolute 
    flex 
    justify-center 
    items-center 
    z-10 
    inset-0 
    bg-gradient-radial 
    from-white 
    to-light-blue 
    opacity-100 
    hover:opacity-0 
    transition-opacity 
    duration-300;
}
.organization-header {
  @apply text-2xl;
}

.organization-content {
  @apply text-xl
  text-center;
}

.pages-container {
  @apply flex
  /* items-center */
  justify-center;
}
